extends ../node_modules/@lamdahq/views/layout

block styles
  link(rel='stylesheet', href=`${baseURL}/styles/index.css`)

block content
  h2= (thing.brand || '') + ' ' + (thing.name || '')
  hr

  dl
    // Used as workaround for https://github.com/pugjs/pug/issues/3020
    each entry in Object.entries(thing)
      - let keyStr = String(entry[0])
      - let value = entry[1]
      if !['id', 'images', 'name', 'pdfs'].includes(keyStr)
        dt= keyStr[0].toUpperCase() + keyStr.slice(1) + ':'

        if keyStr == 'urls'
          - const urls = [].concat(value)
          for url in urls
            dd: a(href=url)= url
            br

        else if (value instanceof Date)
          dd= value.toJSON().replace('T',' ').replace('Z','')

        else if typeof value == 'object'
          dd!= JSON.stringify(value, null, '<br>').replace(/"/g, '').slice(6,-1)

        else
          dd= value

        br

  hr

  if thing.images
    .images
      each imagePath in thing.images
        if imagePath
          a(href=imagePath): img(
            src=imagePath
            alt='Photo of ' + thing.name
            title='Photo of ' + thing.name
          )

  br
  hr

  if thing.pdfs
    ul.pdfs
      each pdfPath in thing.pdfs
        if pdfPath
          li: a(href=pdfPath)
            = pdfPath
