extends ../node_modules/@lamdahq/views/layout

block scripts
  script(src=`${baseURL}/node_modules/shaven/build/browser.js`)
  script(src=`${baseURL}/scripts/index.js`)

block styles
  link(rel='stylesheet' href=`${baseURL}/styles/index.css`)

block content
  div(class= view + 'View', )
    button.filter#all(title='Show all things'): span
        | All

    button.filter.emoji#jacket(title='Show only jackets').
      🧥
    //- include ../public/icons/jacket.svg

    button.filter#sweater(title='Show only sweaters')
      include ../public/icons/sweater.svg

    button.filter#button-up(title='Show only button-ups')
      include ../public/icons/button-up.svg

    button.filter#t-shirt(title='Show only t-shirts')
      include ../public/icons/t-shirt.svg

    button.filter.emoji#pants(title='Show only pants').
      👖
    //- include ../public/icons/pants.svg

    button.filter#pajamas(title='Show only pajamas')
      include ../public/icons/pajamas.svg

    button.filter.emoji#shorts(title='Show only shorts').
      🩳
    //- include ../public/icons/shorts.svg

    button.filter.emoji#boxers(title='Show only boxer shorts').
      🩲
    //- include ../public/icons/boxers.svg

    button.filter.emoji#socks(title='Show only socks').
      🧦

    button.filter.emoji#shoes(title='Show only shoes').
      👟

    button.filter.emoji#gloves(title='Show only gloves').
      🧤
    //- include ../public/icons/gloves.svg

    button.filter#belt(title='Show only belts')
      include ../public/icons/belt.svg

    button.filter.emoji#glasses(title='Show only glasses').
      👓

    button.filter.emoji#headgear(title='Show only headgear').
      🧢

    button.filter.emoji#tool(title='Show only tools').
      🛠
    //- include ../public/icons/tool.svg

    button.filter#cable(title='Show only cables')
      include ../public/icons/cable.svg

    button.filter.emoji#kitchenware(title='Show only kitchenware').
      🍽

    button.filter.emoji#bathware(title='Show only bathware').
      🛁

    button.filter.emoji#medicine(title='Show only medicine').
      💊

    button.filter.emoji#sanitary-article(title='Show only sanitary articles').
      🧼

    button.filter.emoji#baggage(title='Show only baggage').
      🎒

    button.filter.emoji#gadget(title='Show only gadgets').
      💻

    button.filter.emoji#camera-gear(title='Show only camera gear').
      📷

    button.filter.emoji#sport(title='Show only sports gear').
      🏓

    button.filter.emoji#bicycle(title='Show only bicycle gear').
      🚲

    button.filter.emoji#diy(title='Show only DIY utensils').
      🗜

    button.filter.emoji#houseware(title='Show only houseware').
      🏠

    button.filter.emoji#lighting(title='Show only lighting').
      💡

    button.filter.emoji#battery(title='Show only batteries').
      🔋

    button.filter.emoji#music-gear(title='Show only music gear').
      🎤

    button.filter.emoji#lego(title='Show only LEGO').
      🧱

    button.filter.emoji#toys(title='Show only toys').
      🪀

    br

    a.button(href=(baseURL || '/')) standard
    a.button(href=`${baseURL}?view=wide`) wide

    p#descriptionHeadline
      | You own #{things.length} things worth #{fortune}€.

    br

    #thingsContainer
      if view == 'wide'
        for thing in things
          div
            span= thing.name
            br
            if thing.image
              a(href=thing.url)
                img(src=thing.image)
            else
              a.placeholder(href=thing.url)
                include ../public/icons/thing.svg
      else
        for thing in things
          div(data-type=thing.type)

            if thing.image
              a(href=thing.url)
                img(src=thing.image)
            else
              a.placeholder(href=thing.url)
                img(src='icons/thing.svg')

  script.
    var things = !{JSON.stringify(things)}
