extends ../linked_modules/lamda-views/layout

block styles
	link(rel='stylesheet', href='#{baseURL}/styles/flags16.css')
	link(rel='stylesheet', href='#{baseURL}/styles/index.css')

block content
	p You have #{contacts.length} contacts. (#{percentageOfMale}% Male)
	br
	table
		thead
			tr
				// Print available keys in a sorted order
				each key in sortedKeys
					if availableKeys.indexOf(key) !== -1
						if key !== 'gender'
							th= key.toUpperCase()
		tbody
			for contact in contacts
				if contact
					tr(class = contact['gender'])
						for key in sortedKeys
							if Object.keys(contact).indexOf(key) !== -1
								- var value = contact[key]
								- var title = (typeof value == 'string') ? value : null
								td(
									class = key
									title = title
								)
									if key === 'name'
										- var nickname = contact['nickname']
										= value + ' '
										if nickname
											small= '(' + nickname + ')'

									else if key === 'website'
										- value = value.replace(/https?:\/\//, '')
										- value = value.replace(/www\./, '')
										a(href='http://' + value, target='_blank')
											= value

									else if key === 'facebook'
										a(href='https://facebook.com/' + value, , target='_blank')
											= value

									else if key === 'email'
										if value && typeof value === 'string'
											- var provider = value.split('@')[1].split('.')

											- Array.isArray(provider) ? provider.pop() : ''
											a(
												href="mailto:#{value}"
												target='_blank'
												class="provider #{provider.join('.')}"
											)
												= value

									else if key === 'birthday'
										| #{value.toISOString().substr(0,10)} (#{contact.age})

									else if key === 'address' && value
										span.country(class=value.countryCode, title=value.country)
											= value.country + ', '
										span
											= value.zip ? value.zip + ' ' : ''
											= value.city ? value.city + ', ' : ''
											= value.street ? value.street + ' ' : ''
											= value.number ? value.number + ' ' : ''
											= value.addition ? contact[key].addition : ''

									else
										=contact[key]
							else
								td
