extends ../../../views/layout

block styles
	link(rel='stylesheet', href='/assets/things/public/index.css')

block content

	div(class= view + 'View', )

		p
			span You own #{things.length} things worth #{fortune}€.

		p
			span= '('
			a(href='/things') standard
			span= ' | '
			a(href='/things?view=wide') wide
			span= ')'

		br

		if view === compact
			each thing in things
				div
					span= thing.name
					br
					if thing.image
						a(href=thing.rawImage)
							img(src=thing.image)

		else
			each thing in things
				div
					if thing.image
						a(href=thing.rawImage)
							img(src=thing.image)
