extends ../linked_modules/lamda-views/layout

block styles
	link(rel='stylesheet', href='#{baseURL}/styles/index.css')

block content
	ul
		for day in days
			- var classes = []
			- if (day.today) classes.push('today')
			- if (day.date.getDay() === 1) classes.push('monday')
			li(class= classes.join())
				if day.today
					- var hoursInMinutes = new Date().getUTCHours() * 60
					- var minutes =  + hoursInMinutes + new Date().getUTCMinutes()
					// TODO: Automatically update position with fronted javascript
					.cursor(style='left:' + (minutes / 14.40 + '%'))
				.date
					span= day.date.toISOString().substr(0,10)
					= ' '
					span= day.date.toDateString().substr(0,1)
				.day
					for event in day.events
						.event(style=event.style, class=(event.empty ? 'empty' : ''))
							if event.title
								span= event.title + ' '
