extends ../linked_modules/lamda-views/layout

block styles
  link(rel='stylesheet', href=`${baseURL}/styles/index.css`)

block scripts
  script(src=`${baseURL}/scripts/main.js`)

block content
  if !days || days.length === 0
    .getting-started
      if !days
        p.
          You do not have an "events" directory yet.

        p.
          In order to get started create an "events" directory
          in your Lamda root directory and
          add a &lt;timestamp&gt;.yaml file for each event.

      else
        p
          | You do not have any "events" yet.
          br
          | In order to get started add a
          | &lt;timestamp&gt;.yaml file for each event
          | to your "events" directory.

      p The yaml files can be structured like this:

      pre: code.
        title: Meeting
        with: John Doe

  else
    ul
      for day in days
        - var classes = []
        - if (day.date.lowerLimit.getDay() === 1) classes.push('monday')
        li(
          id= day.today ? 'today' : null
          class= classes.join(' ')
        )
          .date
            span= day.date.string.substr(0, 10)
            = ' '
            span= day.date.lowerLimit.toDateString().substr(0, 1)
          .day(class= (day.lanes.length > 1) ? 'multiple-lanes' : null)
            for lane in day.lanes
              .lane
                for event in lane
                  - var eventClasses = []
                  - if (event.empty) eventClasses.push('empty')
                  - if (event.isSecondary) eventClasses.push('secondary')
                  .event(
                    style= event.style
                    class= eventClasses.join(' ')
                    title= event.tooltipText
                  )
                    a(href=event.singleViewURL)
                      = event.title
