extends ../node_modules/lamda-views/layout

block styles
	link(rel='stylesheet', href='#{baseURL}/styles/index.css')

block content

	if song

		h2= song.title || song.name

		br

		- var invalidProps = ['id', 'images', 'name', 'title', 'lilypondFiles']

		dl
			each value, key in song
				if invalidProps.indexOf(key) === -1
					dt= key[0].toUpperCase() + key.slice(1) + ':'
					dd= value
					br

		a.button(href='#{baseURL}/raw/#{song.id}?style=inline').
			Horizontal View
		a.button(href='#{baseURL}/raw/#{song.id}?style=wrapped').
			Vertical View

		br

		if song.images && song.images.length != 0
			.images
				h3 Images
				br
				each image in song.images
					if image
						.image
							img(src=image.thumbnailPath)
							br
							a(href=image.path) Raw

		if song.lilypondFiles && song.lilypondFiles.length != 0
			.lilypondFiles
				h3 LilyPond Files
				br
				each file in song.lilypondFiles
					if file
						.image
							img(src=file.path + '?resolution=10')
							br
							a(href=file.path) PNG
							= ' | '
							a(href=file.path + '?format=svg') SVG
							= ' | '
							a(href=file.path + '?format=pdf') PDF
							= ' | '
							a(href=file.path + '?format=ps') PS
							= ' | '
							a(href=file.path + '?format=midi') MIDI



	if songs
		a.button(href='') #{songs.length} Songs
		a.button(href='playlists') Playlists
		br

		table
			thead
				th Name
				th View
				th Pages
			tbody
				each song in songs
					tr
						td.name
							a(href='' + song.id)
								= song.id.replace(/_/gi, ' ')
						td
							a(href='#{baseURL}/raw/#{song.id}?style=wrapped')
								span.oi(data-glyph='resize-height')
							= ' '
							a(href='#{baseURL}/raw/#{song.id}?style=inline')
								span.oi(data-glyph='resize-width')


						td.pages
							if song.images
								each image, index in song.images
									if image
										a.badge(href=image.path)
											= (index + 1)
										= ' '
