extends ../node_modules/lamda-views/layout

block scripts
  script(src=`${baseURL}/node_modules/array.from/array-from.js`)
  script(src=`${baseURL}/node_modules/shaven/shaven.js`)
  script(src=`${baseURL}/scripts/index.js`)

block styles
  link(rel='stylesheet', href=`${baseURL}/styles/index.css`)

block content

  div(class= view + 'View', )

    button.filter#all(title='Show all things'): span
        | All

    button.filter#jacket(title='Show only jackets')
      include ../public/icons/jacket.svg

    button.filter#sweater(title='Show only sweaters')
      include ../public/icons/sweater.svg

    button.filter#button-up(title='Show only button-ups')
      include ../public/icons/button-up.svg

    button.filter#t-shirt(title='Show only t-shirts')
      include ../public/icons/t-shirt.svg

    button.filter#pants(title='Show only pants')
      include ../public/icons/pants.svg

    button.filter#shorts(title='Show only shorts')
      include ../public/icons/shorts.svg

    button.filter#boxers(title='Show only boxer shorts')
      include ../public/icons/boxers.svg

    button.filter#shoes(title='Show only shoes')
      include ../public/icons/shoes.svg

    button.filter#belt(title='Show only belts')
      include ../public/icons/belt.svg

    button.filter#tool(title='Show only tools')
      include ../public/icons/tool.svg

    button.filter#cable(title='Show only cables')
      include ../public/icons/cable.svg

    a.button(href=baseURL) standard
    a.button(href=`${baseURL}?view=wide`) wide

    p#descriptionHeadline
      | You own #{things.length} things worth #{fortune}€.

    br

    #thingsContainer

      if view == 'wide'
        for thing in things
          div
            span= thing.name
            br
            if thing.image
              a(href=thing.url)
                img(src=thing.image)
      else
        for thing in things
          div(data-type=thing.type)

            if thing.image
              a(href=thing.url)
                img(src=thing.image)
            else
              a.placeholder(href=thing.url)
                include ../public/icons/thing.svg

  script.
    var things = !{JSON.stringify(things)}
