extends ../../../views/layout

block styles
	link(rel='stylesheet', href='/assets/sheetmusic/public/index.css')

block content

	if song

		h2= song.title || song.name

		br

		dl
			each value, key in song
				if key !== 'id' && key !== 'images' && key !== 'name' && key !== 'title'
					dt= key[0].toUpperCase() + key.slice(1) + ':'
					dd= value
					br

		a.button(href='/sheetmusic/raw/#{song.id}?style=inline').
			Horizontal View
		a.button(href='/sheetmusic/raw/#{song.id}?style=wrapped').
			Vertical View

		br

		.images
			each image in song.images
				if image
					.image
						img(src=image.thumbnailPath)
						a(href=image.path) Raw



	if songs
		a.button(href='/sheetmusic') #{songs.length} Songs
		a.button(href='/sheetmusic/playlists') Playlists
		br


		table
			thead
				th Name
				th View
				th Pages
			tbody
				each song in songs
					tr
						td.name
							a(href='/sheetmusic/' + song.id)
								= song.id.replace(/_/gi, ' ')
						td
							a(href='/sheetmusic/raw/#{song.id}?style=wrapped')
								span.oi(data-glyph='resize-height')
							= ' '
							a(href='/sheetmusic/raw/#{song.id}?style=inline')
								span.oi(data-glyph='resize-width')


						td.pages
							if song.images
								each image, index in song.images
									if image
										a.badge(href=image.path)
											= (index + 1)
										= ' '
