extends ../node_modules/lamda-views/layout

block styles
	link(rel='stylesheet', href='/assets/contacts/public/index.css')

block content
	table
		thead
			tr
				// Print available keys in a sorted order
				each key in sortedKeys
					if availableKeys.indexOf(key) !== -1
						if key !== 'gender'
							th= key.toUpperCase()
		tbody
			each contact in contacts
				tr(class= contact['gender'])
					each key in sortedKeys
						if key === 'gender'
							// DO nothing
						else if Object.keys(contact).indexOf(key) !== -1
							- var value = contact[key]
							td(class=key, title=value)
								if key === 'website'
									// TODO: Take care of https
									a(href=value, target='_blank')
										= value ? value.substring(7) : ''

								else if key === 'facebook'
									a(href='https://facebook.com/' + value, , target='_blank')
										= value

								else if key === 'email'
									- var provider = value.split('@')[1].split('.')
									- provider.pop()
									a(href='mailto:' + value, target='_blank', class=provider.join('.'))
										= value

								else if key === 'birthday'
									=value.toISOString().substr(0,10)
									|  (
									=new Date(new Date - value).toISOString().substr(0,4) - 1970
									| )

								else if key === 'address'
									span.country(class=value.countryCode, title=value.country)
										= value.country + ', '
									span
										= value.zip ? value.zip + ' ' : ''
										= value.city ? value.city + ', ' : ''
										= value.street ? value.street + ' ' : ''
										= value.number ? value.number + ' ' : ''
										= value.addition ? contact[key].addition : ''

								else
									=contact[key]
						else
							td
	include ../../../views/partials/console
