!!!5

html
	head
		title= title
		link(rel='stylesheet', href='/styles/screen.css')
		link(rel='icon', href='/img/favicon.png', type='image/png')

	body(id=page)
		nav#navBar
			h1#logo
				a(href='/', class=(page === 'home') ? 'active' : '') λ
			.links
				each name in apps
					- var path = '/' + name.toLowerCase()
					- var className = name.toLowerCase() + ' ' + (page === name.toLowerCase() ? 'active' : '')
					a(href=path, class=className, title=name)
						span(class= name.toLowerCase() + 'Icon oi', data-glyph, aria-hidden='true')
						=name

			.right
				a.settings(href='/settings', class=(page === 'settings') ? 'active' : '')
					span(class= 'settingsIcon oi', data-glyph, aria-hidden='true')
					| Settings

		block content

	each link in scripts
		script(src=link)

	block scripts
