extends minimal

block head
  - viewport = ['width=device-width']
  - viewport[1] = 'initial-scale=1'
  - viewport[2] = 'minimum-scale=1'
  - viewport[3] = 'maximum-scale=10'
  meta(name='viewport', content=viewport.join())
  //meta(name='apple-mobile-web-app-capable', content='yes')
  //meta(name='apple-mobile-web-app-status-bar-style', content='none')
  // + ' | ' + title
  if styles
    for style in styles
      link(id=style.id, rel='stylesheet', href=style.path)
  block styles

block body
  nav#navBar
    h1#logo
      if isMounted || !page
        a(href='/', class=(page === 'home') ? 'active' : '') λ
      else
        a(href='/')= page[0].toUpperCase() + page.slice(1)

    if appNames
      .links
        ul
          for name in appNames
            - var path = '/' + name.toLowerCase()
            - var active = page === name.toLowerCase() ? ' active' : ''
            - var className = name.toLowerCase() + active

            li(class=className)
              a(href=path, title=name)
                span(
                class= name.toLowerCase() + 'Icon oi',
                data-glyph, aria-hidden='true'
                )
                span.text= name

    if isMounted
      .right
        if config
          a(
            href='/' + config.owner.username
            class=(page === config.owner.username) ? 'active' : ''
          )
            img(alt='Profile picture', src='/img/placeholder.jpg')
            span= config.owner.firstname
        a.settings(
          href='/settings'
          class=(page === 'settings') ? 'active' : ''
        )
          span(class= 'settingsIcon oi', data-glyph, aria-hidden='true')
          span.text Settings
  .spacer
    .content(id=page)
      block content

  include partials/console

  if scripts
    for link in scripts
      script(src=link)

  block scripts
