doctype html
html
	head
		meta(charset='utf-8')
		title= page.charAt(0).toUpperCase() + page.substr(1)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//meta(name='apple-mobile-web-app-capable', content='yes')
		//meta(name='apple-mobile-web-app-status-bar-style', content='none')
		// + ' | ' + title
		link(rel='icon', href='/img/favicon.png', type='image/png')
		each style in styles
			link(rel='stylesheet', href=style)
		block styles

	body
		nav#navBar

			h1#logo
				a(href='/', class=(page === 'home') ? 'active' : '') λ
			.links
				ul
					each name in appNames
						- var path = '/' + name.toLowerCase()
						- var className = name.toLowerCase() + (page === name.toLowerCase() ? ' active' : '')
						li(class=className)
							a(href=path, title=name)
								span(class= name.toLowerCase() + 'Icon oi', data-glyph, aria-hidden='true')
								span.text= name

			.right
				a(href='/' + config.owner.username, class=(page === config.owner.username) ? 'active' : '')
					// TODO
					img(alt='Profile picture', src='/img/placeholder.jpg')
					span= config.owner.firstname
				a.settings(href='/settings', class=(page === 'settings') ? 'active' : '')
					span(class= 'settingsIcon oi', data-glyph, aria-hidden='true')
					span.text Settings
		.spacer
			.content(id=page)
				block content

	include partials/console

	each link in scripts
		script(src=link)

	block scripts
