extends ../node_modules/@lamdahq/views/layout

block styles
  link(rel='stylesheet' href=`${baseURL}/styles/screen.css`)

block content
  if book.type == 'epub'
    #reader
      #previous.arrow <
      #bookContent
      #next.arrow >

  else if book.type == 'pdf'
    object#pdf-container(
      data=book.url
      type='application/pdf'
    )
      p.
        The PDF can not be displayed.
        Download it from #[a(href=book.url) here]

  else if book.type == 'md'
    div !{book.content.replace(/\n/g, '<br>')}

block scripts
  if book
    script(src=`${baseURL}/node_modules/epubjs/build/libs/zip.min.js`)
    script(src=`${baseURL}/node_modules/epubjs/build/epub.js`)
    script= `var bookUrl = '${book.url.replace("\'", "\\\'")}'`
    script(src=`${baseURL}/scripts/index.js`)
