extends ../../views/layout

block styles
  link(rel='stylesheet' href=`${baseURL}/styles/screen.css`)

block content
  #books
    if books && books.length > 0
      p#state Your library contains
        em  #{books.length} book#{books.length == 1 ? '' : 's'}

      #library
        each book in books
          -
            const authorShort = book.author && book.author.length > 50
                                  ? book.author.slice(0, 50) + '…'
                                  : book.author

          a.book(
            href=book.url
            title=`${book.author}\n${book.title}`)
            .cover
              .description
                p.author= authorShort
                p.title= book.title

              if book.imageSource
                img(src=book.imageSource)

              if book.wasRead
                div.wasRead ✔

            p= book.title
    else
      p There are currently no books in your library

block scripts
  if book
    script(src=`${baseURL}/node_modules/epubjs/build/libs/zip.min.js`)
    script(src=`${baseURL}/node_modules/epubjs/build/epub.js`)
    script= `var bookUrl = '${book.url.replace("\'", "\\\'")}'`
    script(src=`${baseURL}/scripts/index.js`)
