doctype html

head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Home

  style
    :stylus
      *
        box-sizing border-box

      body
        font-family Helvetica, sans-serif
        font-size 15px

      main
        margin 0 auto

      #links
        padding-top 0.5em

      .tile
        display inline-block
        padding 0.6em 0.8em
        margin 0 0.6em 0.6em 0
        border 1px solid lightgray
        border-radius 3px
        background-color hsl(0, 0, 95%)

      a.link
        text-decoration none
        color inherit

      .link
        .icon:not(:empty)
          margin-right 0.5em

      fieldset
        border none
        padding 0

        legend
          padding-left 0
          font-weight 700
          margin-bottom 0.5em

        .table
          display table

        .row
          display table-row

        label
          display table-cell
          text-align right
          padding-right 0.5em

        input
          display table-cell


      @media screen and (min-width 40em)
        main
          width 40em

body
  main
    section#links
      for link in links
        -
          const style = !link.background_color
            ? ''
            : `background-color: ${link.background_color}; border: none;`

        a.tile.link(href=link.url, style=style)
          if link.icon
            span.icon(style=`color:${link.font_color}`)= link.icon
          span(style=`color:${link.font_color}`)= link.title

    section#forms
      h1 Forms

      for form in forms
        form.tile(action=form.url method='get')
          fieldset
            legend= form.title
            .table
              for value, fieldName in form.fields
                if value.type == 'submit'
                  br
                  input(
                    type='submit'
                    value='Submit'
                  )

                else
                  .row
                    label(for=value.name)
                      = value.name

                    input(
                      id=value.name
                      name=value.name
                      type=value.type
                      placeholder=value.placeholder
                    )
